@import '_h5bp.styl'

main_border = rgba(0, 0, 0, 0.5)
body
    color: rgba(white, 0.7)
    font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
    font-weight: 300

card_padding = 25px

// g.card
//     filter: drop-shadow( -5px -5px 5px #000 )
rect.card-body
    stroke: main_border
    stroke-width: 1px
    stroke-opacity: 1
    fill: #4F5E6A
    filter: drop-shadow( -5px -5px 5px #000 )
    // background: linear-gradient(top right, #746E70, #53616D)

// html elem
header_height = 40px
.card-header
    border-bottom: 1px solid main_border
    height: header_height
    body
        padding: 0
    h3
        line-height: header_height
        padding: 0 card_padding
        font-weight: 100
        letter-spacing: 1px
        margin: 0
    // .card-body
    //     display: table
    //     width: 100%
    //     min-height: 250px
    //     text-align: center
    .sentiment-bars
        display: table-row
        min-height: 250px
        margin: 0
        padding: 0
        width: 100%
        li
            list-style: none
            display: table-cell
            border-right: 1px solid main_border
            position: relative
            &:last-child
                border: none

            .score-container
            .icon
            .score
            .score-bar
                transition: all 0.3s ease
            .score-container
                display: block
                position: absolute
                top: 0
                right: 0
                bottom: 0
                left: 0
                background: transparent
                cursor: pointer
                box-shadow: 0 0 0 rgba(0,0,0,0)
                z-index: 100

            .icon
                display: block
                width: 30px
                height: 30px
                position: absolute
                background: rgba(gray, 0.6)
                margin-left: -(@width/2)
                left: 50%
                top: 20px
                border-radius: 100px

            .score
                font-size: 1.6em
                top: 60px
                position: relative
                opacity: 0

            .score-bar
                position: absolute
                top: 60px
                right: 0
                bottom: 0
                left: 0
                z-index: 80
                .bar
                    position: absolute
                    right: 0
                    bottom: 0
                    left: 0
                    z-index: 90
                    box-shadow: inset 0 -3px 7px rgba(0,0,0,0.3)
            .score-container
                &.good
                    .score
                        color: #37D7B2
                    .bar
                        background: #37D7B2
                &.bad
                    .score
                        color: #F86C5F
                    .bar
                        background: #F86C5F
                &.fair
                    .score
                        color: #EBC355
                    .bar
                        background: #EBC355
            &:hover
                .score-container
                    z-index: 110
                    // how much we pull into the header
                    top: -55px
                    background: darken(white, 10%)
                    background: white
                    box-shadow: 17px -1px 58px rgba(0,0,0,0.3)
                .score-bar
                    // how much we strink the score bar when the container expands
                    top: 85px
                .icon
                    width: 50px
                    height: 50px
                    margin-left: -(@width/2)
                    top: 10px
                    &:after
                        content: ', ,'
                        display: block
                        color: white
                        width: 60px
                        height: 20px
                        font-size: 73px
                        position: absolute
                        top: -86px
                .score
                    opacity: 1
